body {
  font-family: Arial, sans-serif;
  background:#f4f4f4;
  margin:0;
}

.topo {
  background:#b30000;
  color:#fff;
  text-align:center;
  padding:15px;
}

.logo {
  width:90px;
  border-radius:50%;
}

.card {
  background:#fff;
  margin:15px;
  padding:15px;
  border-radius:10px;
}

label {
  display:block;
  margin-top:10px;
  font-weight:bold;
}

select {
  width:100%;
  padding:8px;
}

.sabores-grid {
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:5px;
}

.btn {
  background:#b30000;
  color:#fff;
  border:none;
  width:100%;
  padding:12px;
  border-radius:8px;
  margin-top:15px;
}

.btn-sec {
  display:block;
  width:100%;
  padding:10px;
  margin:5px 0;
  background:#eee;
  border:none;
  border-radius:6px;
}

.finalizar {
  padding:15px;
}

.btn-final {
  background:green;
  color:#fff;
  border:none;
  width:100%;
  padding:15px;
  font-size:16px;
  border-radius:10px;
}

.toast {
  position:fixed;
  bottom:20px;
  left:50%;
  transform:translateX(-50%);
  background:#333;
  color:#fff;
  padding:10px 20px;
  border-radius:20px;
  opacity:0;
  transition:.3s;
}

.toast.show {
  opacity:1;
}
